@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
    scroll-behavior: smooth;
    box-sizing: border-box;
    color: black;
}
img{
    display: block;
    max-width: 100%;
}
header{
    
    z-index: 100;
    max-width: 100%;
    padding: max(1.5rem, 1rem);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-inline-end: 50px;

    h3{
        font-size: 2rem;
    }
}

header ul,li,a{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    text-decoration: none;
    font-size: 1rem;
}

header span{
    color: gold;
}
header a:hover{
    color: gold;
}

/* main container */

.container{
    max-width: 1500px;
    margin-inline: auto;
    padding: 1rem;
}

/* section home */
#home{
   padding: 1rem;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;   
   align-items: center;
}

.home-left-con{
    max-width: 700px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    h1{
    font-size: clamp(15px,10vw,3rem);
    }
    
    span{
        color: gold;
        font-size: clamp(15px,10vw,4rem);
    }

    p{
        text-align: justify;
        line-height: 2;
        font-size: clamp(20px,10vw,1rem);
    }
}

.home-left-button{
    margin-top: 5%;
    border:solid 1px goldenrod;
    border-radius: 5px;
    background-color:goldenrod;
    padding: .5rem;
    width: 150px;

}

.home-left-button:hover{
    cursor: pointer;
}
.home-right-con{
    position: relative;

}

.home-right-con img{
    display: block;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    border: solid 1px goldenrod;
    z-index: -1;
}

/* about section */
#about{       
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;   
    align-items: center;  
    flex-direction: row-reverse;
}

.about-description-art{
    padding: 2rem;
    width:700px;
    h1{
        margin-bottom: 20px;
        font-size: 2rem;
    }
    p{
        line-height: 2.5;
        text-align: justify;
        font-size: 1rem;
    }

    span{
        color: gold;
        font-size: 3rem;
    }
}

.about-art-samples{
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap:1rem;
    padding: 1rem;
}

.about-art-samples img{
    display: block;
    max-width: 100%;
    border-radius: 20px;
}

/* art types or art categories */

.type-container{
    margin-top: 50px;
    max-width: 1500px;
    padding: 1rem;
}
.type-title{
    border: solid 1px black;
    padding: 10px;
    text-align: center;
    width: 500px;
    font-size: 1.5rem;
    margin-inline: auto;
    margin-block-end: 1rem;

    h1{ 
        font-size: 1.5rem;
        letter-spacing: 5px;
    }
   
}
.categories-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem; 
    padding: 1rem; 
    box-sizing: border-box; 
}

.categories-container img {
    width: 100%; 
    height: 300px; 
    border-radius: 20px;
    transition: transform 1s;
    object-fit: cover;
    box-sizing: border-box; 
}

.categories-container img:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.box {
    width: 100%; 
    height: 350px; 
    font-size: 0.8rem;
    cursor: pointer;
    overflow: hidden;
    padding: 0;
    box-sizing: border-box; 
}

.box span {
    font-size: 0.8rem;
}

.art-name {
    height: 0;
    max-width: 500px;
    position: relative;
    left: 10px;
    bottom: 15px;
    font-size: 0.7rem;
    text-align: left;
    overflow: hidden;
    transition: 1s ease;
    border-radius: 20px;
    padding: 2px 10px;
    backdrop-filter: blur(3px);
    color: white;
}

.box:hover .art-name {
    bottom: 20%;
    height: 40px;
    cursor: pointer;
}


/* collections */
#collections{     
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;   
    align-items: center;  
    
    h1{
        margin-bottom: 20px;
        color: goldenrod;
        margin-inline-start: 30px;
    }
}
.collection-title{
    margin-bottom: 20px;
    color: goldenrod;
}
.image-painting{
    display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
}
.image-painting img{
    display: block;
    max-width: 100%;
    border-radius: 20px;
    margin-top: 50px;
}


.painting-description{
    max-width: 600px;
    text-align:justify;
    line-height: 2;
    padding: 20px;
    font-size: clamp(15px,10vw,1rem);
}

.sculpture{
    max-width: 600px;
    gap: 1rem;
    img{
        width: 300px;
    }
}